MONGO_HOST='practicedb.fqgpyy1.mongodb.net'
MONGO_USER='smi6065'
MONGO_PASSWORD='ssundeecrainerbobby1'
MONGO_DBNAME='football'
FLASK_APP=app.py
FLASK_ENV=development
GITHUB_SECRET=your_github_secret
GITHUB_REPO=https://github.com/dbdesign-assignments-spring2023/web-app-srikar-iyer.git
